.tulisan_satu{
    color: red;
    font-family: sans-serif;
    font-style: normal;
}
.tulisan_dua{
    color: green;
    font-weight: 24pt;
    font-style: italic;
}
.tulisan_3{
    color: blue;
    font-weight: bold;
    font-style: oblique;
}